.form {
  max-width: 385px;
  display: block;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  border-radius: 4px;
  margin: 0 0 32px;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
  border-color: #838383;
  font-size: 20px;
  line-height: 30px;
}
.form__botton {
  width: 100%;
  max-width: 385px;
  padding: 0 100px;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
  background-color: #2f80ed;
  color: #fff;
}
button:hover {
  background-color: #6aa0f0;
}
.form__fieldset_center {
  display: flex;
  justify-content: center;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.form__label_direction-right {
  display: inline;
  margin-left: 12px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
